<div class="container" >
  <div class="row col-12 p-3">
    <div class="mx-auto">
      <h1>welcome to<i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
      <p>In<i class="fas fa-book"></i><strong>Bookers</strong>
      <p>you can share and exchange your opinions, inpressions, and emotions</p>
      <p>about various books!</p>
      <div class="col-11">
        <%= link_to "Log in", new_user_session_path, class: "text-light btn btn-info btn-block "%>
        <%= link_to "Sign up", new_user_registration_path, class: "text-light btn btn-success btn-block" %>
      </div>
    </div>
  <div>
</div>